* {
    margin: 0;
    padding: 0;
}

/* ---------- */
/* HEADER */
/* ---------- */

header {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.header-container {
    width: 80%;
    margin: auto;
}

#logo {
    width: 303px;
    height: 56px;
    margin: 15px 15px;
    border: solid 1px red;
}




.navigation-container {
    
    border: solid 1px red;
    display: inline-block;
}

li {
    border: solid 1px rgb(0, 255, 13);
    padding: 10px;
    font-family: raleway, Arial, helvetica;
    list-style: none;
    float: right;
}

.navigation-links {
    text-decoration: none;
    color: white;
}