* {
    margin: 0;
    padding: 0;
}

/* ---------- */
/* HEADER */
/* ---------- */

header {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

#logo {
    width: 446px;
    height: 82px;
}

nav {
    display: inline-block;
}

.navigation-container{
    border: solid 1px red;
    display: inline;
}
li {
    border: solid 1px red;
    padding: 0 10px;
    list-style: none;
    color: white;
    float: right;
}
a {
    color: white;
    text-decoration: none;
}

h2 {
    text-transform: uppercase;
    color: white;
    font-family: raleway, sans-serif, Helvetica;
    font-weight: 200;
    font-size: 90px;
}

p {
    color: white;
    font-family: raleway, sans-serif, Helvetica;
    text-transform: uppercase;
}

#order-now-button {
    padding: 10px;
    color: white;
    background: transparent;;
    border: solid 1px white;
    border-radius: 50px;
}